body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #F6E7CB; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}
.fruit-option input:checked + label {
    background-color: #668654; /* Adicione a cor de fundo desejada */
    color: #F6E7CB; /* Adicione a cor do texto desejada */
}
.product-container {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 10%;
}

.product-image {
    width: 40%;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info {
    width: 60%;
    padding: 15px;
    border: 1px solid #88a378; /* Cor da borda do contêiner de informações */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    background-color: #F6E7CB; /* Cor de fundo do contêiner de informações */
}

.product-info h2 {
    color: #5b8050; /* Cor do título do produto */
    margin-bottom: 15px;
}

.fruits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fruit-option {
    display: flex;
    align-items: center;
}

.fruit-checkbox {
    margin-right: 5px;
    /* Adiciona um estilo padrão para as frutas não selecionadas */
    border: 2px solid #88a378; /* Cor da borda */
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.fruit-checkbox:checked {
    /* Adiciona um estilo para as frutas selecionadas */
    background-color: #88a378; /* Cor de fundo */
    border-color: #5b8050; /* Cor da borda quando selecionado */
    color: #F6E7CB; /* Cor do texto quando selecionado */
}

.buy-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #88a378; /* Cor de fundo do botão Comprar */
    color: #F6E7CB; /* Cor do texto do botão Comprar */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #5b8050; /* Cor de fundo do botão Comprar ao passar o mouse */
}

.selected-fruits {
    margin-top: 10px;
}

.selected-fruits h3 {
    color: #5b8050; /* Cor do título das frutas selecionadas */
}

.fruit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.fruit-table th, .fruit-table td {
    border: 1px solid #88a378; /* Cor da borda da tabela de frutas */
    padding: 8px;
    text-align: center;
}

.shipping-info {
    margin-top: 15px;
}

.shipping-info h3 {
    color: #5b8050; /* Cor do título das informações de frete */
}

.product-description {
    margin-top: 15px;
}

.product-description h3 {
    color: #5b8050; /* Cor do título da descrição do produto */
}







section{
    padding: -20px 5%;
}

img{
    width: 100%;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    background: #93a97c; /* Header inicialmente transparente */
    transition: background 0.3s ease-in-out;
  }
.logo img{
    width: 100px;
}
.navbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Defina a altura para ocupar a altura total do header */
    margin: 0; /* Remova a margem padrão */
    padding: 0; /* Remova o preenchimento padrão */
}

.navbar a{
    
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}



.navbar li a.selected {
    color: #e4e4e4; /* Cor de destaque para o link selecionado */
    font-weight: bold; /* Pode adicionar negrito para destacar ainda mais */
    /* Outros estilos de destaque, como sublinhado ou fundo, se desejado */
  }
  
  

/* Estilo padrão dos links no navbar */
.navbar li a {
    font-weight: bold;
    position: relative; /* Para posicionamento do elemento ::before */
    color: #5b8050; /* Cor do texto não selecionado */
    text-decoration: none; /* Remova a sublinhado padrão */
    padding: 10px; /* Espaçamento interno */
    transition: color 0.3s; /* Transição suave para a mudança de cor */
  }
  

  


.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bi {
color: var(--text-color);    
}
.header-icon .bi:hover {
    color: #5d8d4f;    
    }
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #F6E7CB; /* Cor de fundo da página */
    font-family: Arial, sans-serif;
}
.fruit-option input:checked + label {
    background-color: #668654; /* Adicione a cor de fundo desejada */
    color: #F6E7CB; /* Adicione a cor do texto desejada */
}
.product-container {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 10%;
}

.product-image {
    width: 40%;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info {
    width: 60%;
    padding: 15px;
    border: 1px solid #88a378; /* Cor da borda do contêiner de informações */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    background-color: #F6E7CB; /* Cor de fundo do contêiner de informações */
}

.product-info h2 {
    color: #5b8050; /* Cor do título do produto */
    margin-bottom: 15px;
}

.fruits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fruit-option {
    display: flex;
    align-items: center;
}

.fruit-checkbox {
    margin-right: 5px;
    /* Adiciona um estilo padrão para as frutas não selecionadas */
    border: 2px solid #88a378; /* Cor da borda */
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.fruit-checkbox:checked {
    /* Adiciona um estilo para as frutas selecionadas */
    background-color: #88a378; /* Cor de fundo */
    border-color: #5b8050; /* Cor da borda quando selecionado */
    color: #F6E7CB; /* Cor do texto quando selecionado */
}

.buy-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #88a378; /* Cor de fundo do botão Comprar */
    color: #F6E7CB; /* Cor do texto do botão Comprar */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #5b8050; /* Cor de fundo do botão Comprar ao passar o mouse */
}

.selected-fruits {
    margin-top: 10px;
}

.selected-fruits h3 {
    color: #5b8050; /* Cor do título das frutas selecionadas */
}

.fruit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.fruit-table th, .fruit-table td {
    border: 1px solid #88a378; /* Cor da borda da tabela de frutas */
    padding: 8px;
    text-align: center;
}

.shipping-info {
    margin-top: 15px;
}

.shipping-info h3 {
    color: #5b8050; /* Cor do título das informações de frete */
}

.product-description {
    margin-top: 15px;
}

.product-description h3 {
    color: #5b8050; /* Cor do título da descrição do produto */
}